/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }

/* grass animation */
.grass {
	width: 100%;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	
}
.grass svg{
	fill: #5d9345;
	animation: skew-grass 3s infinite;
	transform: skew;
	animation-direction: alternate;
    margin-top: 500px;
    position: absolute;
    top: 0;
    left: 0;
}
.flowers img{
	animation: skew-flowers 3s infinite;
	transform: skew;
	animation-direction: alternate;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@keyframes skew-grass{
	0% {
		transform: skewX(3deg) translate(-5px);
	}
	100% {
		transform: skewX(-7deg) translate(5px);
	}
}
@keyframes skew-flowers {
	0% {
		transform: skewX(2deg) translate(-1px);
	}
	100% {
		transform: skewX(-3deg) translate(1px);
	}
}

.greensquare {
    display: flex;
    background-color: #7fa088;
    height: 300px;
    width: 100%;
    margin-top: 42%;
}

/* bee animation */
.bee{
    width: 40px;
    height: auto;
}

.bee:hover{
    animation: shake 0.6s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#bee1{
    position: absolute;
    left: 4%;
    top: 3%;
}

#bee2{
    position: absolute;
    left: 20%;
    top: 40%;
}

#bee3{
    position: absolute;
    left: 40%;
    top: 15%;
    transform: rotate(-20deg);
    transform: rotate(-40deg);
}

#bee4{
    position: absolute;
    left: 60%;
    top: 25%;
}

#bee5{
    position: absolute;
    left: 75%;
    top: 3%;
}

#bee6{
    position: absolute;
    left: 90%;
    top: 30%;
    transform: rotate(-20deg);
}