/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }

/* ARBOTEK ULTRA VALUES FOR REFERENCE
font-family: arbotek, sans-serif;
font-weight: 900;
font-style: normal; 
*/

/* ARBOTEK THIN VALUE FOR REFERENCE
font-family: arbotek, sans-serif;
font-weight: 100;
font-style: normal; 
*/


/* grass animation */
.grass {
	width: 100%;
	height: 8rem;
	text-align: center;
	margin: 0 auto;
	
}
.grass img{
	fill: #5d9345;
	animation: skew-grass 2s infinite;
	transform: skew;
	animation-direction: alternate;
    margin-top: 27%;
    position: absolute;
    top: 0;
    left: 0;
}
.flowers img{
	animation: skew-flowers 3s infinite;
	transform: skew;
	animation-direction: alternate;
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@keyframes skew-grass{
	0% {
		transform: skewX(3deg) translate(-5px);
	}
	100% {
		transform: skewX(-7deg) translate(5px);
	}
}
@keyframes skew-flowers {
	0% {
		transform: skewX(3deg) translate(-3px);
	}
	100% {
		transform: skewX(-3deg) translate(3px);
	}
}


/* bee animation */
.bee{
    width: 40px;
    height: auto;
}

.bee:hover{
    animation: shake 0.6s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#bee1{
    position: absolute;
    left: 4%;
    top: 3%;
}

#bee2{
    position: absolute;
    left: 20%;
    top: 40%;
}

#bee3{
    position: absolute;
    left: 40%;
    top: 15%;
    transform: rotate(-20deg);
    transform: rotate(-40deg);
}

#bee4{
    position: absolute;
    left: 60%;
    top: 25%;
}

#bee5{
    position: absolute;
    left: 75%;
    top: 3%;
}

#bee6{
    position: absolute;
    left: 90%;
    top: 30%;
    transform: rotate(-20deg);
}







/* footer */

.footer_title{
    font-family: 'arbotek', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #402919;
    position: relative;
    text-align: center;
    margin-top: 3rem;
    
}

.hands{
    position: absolute;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

.soil{
    position: absolute;
    z-index: 500;
    max-width: 100%;
    padding-top: 32%;
}

.fa-facebook {
    background: transparent;
    color: #F0F757;
    transition: width 0.8s, height 0.8s;
}
/* facebook hover */
.fa-facebook:hover {
    width: 120px;
    height: 120px;
    
}

.fa-instagram {
    background: transparent;
    color:#F0F757;
    transition: width 0.8s, height 0.8s;
}

/* instagram hover */
.fa-facebook:hover {
    width: 120px;
    height: 120px;
}    

.fa-brands {
    padding: 20px;
    font-size: 100px;
    width: 100px;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

