/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    scroll-behavior: smooth;
  }

/* ARBOTEK ULTRA VALUES FOR REFERENCE
font-family: arbotek, sans-serif;
font-weight: 900;
font-style: normal; 
*/

/* ARBOTEK THIN VALUE FOR REFERENCE
font-family: arbotek, sans-serif;
font-weight: 100;
font-style: normal; 
*/

/* ARBOTEK LIGHT VALUE FOR REFERENCE
font-family: arbotek, sans-serif;
font-weight: 300;
font-style: normal;
*/

section {
  background-color: #9DB6A4;
  height: 2000px;
}

/* parallax */
 .layer3 {
	width: 100%;
	height: 8rem;
	text-align: center;
	margin: 0 auto;
	
}
.layer3 img{
	animation: skew-grass 2s infinite;
	transform: skew;
	animation-direction: alternate;
    margin-top: 27%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer2 img{
	animation: skew-flowers 3s infinite;
	transform: skew;
	animation-direction: alternate;
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}
.layer1 {
  position: absolute;
  margin-top: 8em;
  margin-left: 20%;
  top: 0;
  left: 0;

} 
.parallax {
  height: 65rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;

}


@keyframes skew-grass{
	0% {
		transform: skewX(3deg) translate(-5px);
	}
	100% {
		transform: skewX(-7deg) translate(5px);
	}
}
@keyframes skew-flowers {
	0% {
		transform: skewX(3deg) translate(-3px);
	}
	100% {
		transform: skewX(-3deg) translate(3px);
	}
} 


/* bees */
.bee{
    width: 2rem;
    height: auto;
    z-index: 10;
}

.bee:hover{
    animation: shake 0.6s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#bee1{
    position: absolute;
    left: 4%;
    top: 3%;
}

#bee2{
    position: absolute;
    left: 20%;
    top: 30%;
}

#bee3{
    position: absolute;
    left: 40%;
    top: 6%;
    transform: rotate(-20deg);
    transform: rotate(-40deg);
}

#bee4{
    position: absolute;
    left: 60%;
    top: 20%;
}

#bee5{
    position: absolute;
    left: 75%;
    top: 3%;
}

#bee6{
    position: absolute;
    left: 97%;
    top: 23%;
    transform: rotate(20deg);
}

/* bugs in grass */
.bug {
    width: 2rem;
    z-index: 10;
}

.bug:hover{
    animation: shake 0.6s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#bug1{
   position: absolute;
   left: 2%;
   top: 88%; 
}

#bug2{
    position: absolute;
    left: 15%;
    top: 77%; 
    transform: rotate(-50deg);
 }

 #bug3{
    position: absolute;
    left: 34%;
    top: 94%; 
 }

 #bug4{
    position: absolute;
    left: 64%;
    top: 76%; 
    transform: rotate(-60deg);
 }

 #bug5{
    position: absolute;
    left: 83%;
    top: 90%; 
 }

 #bug6{
    position: absolute;
    left: 96%;
    top: 70%; 
 }

 /* dig deeper button */
 .dig-deeper{
     color: #F0F757;
     position: absolute;
     left: 51%;
     bottom: 20%;
     text-decoration: none;
     z-index: 10;
 }
 .shovel{
     position: absolute;
     left: 50%;
     bottom: 9%;
     width: 4rem;
     z-index: 10;
 }
 html{
     scroll-behavior: smooth;
 }
 .scroll-down{
     height: 50px;
     width: 30px;
     position: absolute;
     left: 48%;
     bottom: 20px;
     cursor: pointer;
     transform: rotate(38deg);
 }
 .scroll-down::before,
 .scroll-down::after{
     content: '';
     position: absolute;
     top: 20%;
     left: 50%;
     border: 2px solid #F0F757;
     height: 20px;
     width: 20px;
     transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2.5s ease-in-out infinite;
    }
.scroll-down::after{
    top: 30%;
    animation-delay: 1s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%
    }
}

.content{
    cursor: url('images/cursor.png'), url('images/cursor.svg'), auto;
    position: absolute;
    top: 60rem;
}

/* footer */

.footer_title{
    font-family: 'arbotek', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: #402919;
    position: relative;
    text-align: center;
    margin-top: 3rem;
    
}

.hands{
    position: absolute;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

.soil{
    position: absolute;
    z-index: 500;
    max-width: 100%;
    padding-top: 32%;
}

.fa-facebook {
    background: transparent;
    color: #F0F757;
    transition: width 0.8s, height 0.8s;
}
/* facebook hover */
.fa-facebook:hover {
    width: 120px;
    height: 120px;
    
}

.fa-instagram {
    background: transparent;
    color:#F0F757;
    transition: width 0.8s, height 0.8s;
}

/* instagram hover */
.fa-facebook:hover {
    width: 120px;
    height: 120px;
}    

.fa-brands {
    padding: 20px;
    font-size: 100px;
    width: 100px;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  /* parallax */
  *{
    margin: 0;
    padding: 0;
}

body{
    min-height: 1500px;
}

.parallax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
}
.parallax:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
    mix-blend-mode: color;
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

  #text1{
    position: relative;
    color: rgba(48, 35, 35, 0.952);
    font-size: 10em;
    z-index: 1;
}

#grass{
    z-index: 3;
}
#flowers{
    z-index: 2;
}
